<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.memorybook.model.dao.MemoDao">
	<insert id="insert" parameterType="Memo" useGeneratedKeys="true"
		keyProperty="memoId">
		INSERT INTO memo (reader, writer, img_num, text)
		VALUES (#{reader}, #{writer}, #{imgNum}, #{text});
	</insert>
	<select id="selectByReader" resultType="Memo" parameterType="String">
		SELECT * FROM memo
		WHERE reader LIKE #{reader};
	</select>
	<select id="selectMemoById" parameterType="Integer" resultType="Memo">
		SELECT * FROM memo
		WHERE memo_id = #{id};
	</select>
	<update id="updateReader" parameterType="Memo">
		UPDATE memo SET reader = #{reader}
		WHERE memo_id = #{memoId};
	</update>
</mapper>